#rowHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.3fr 0.5fr 0.7fr 1.3fr;
    background-color: #F7CE3E;
    height: 3em;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    font-weight: 700;
    -webkit-box-shadow: -1px 1px 7px 4px rgba(70,117,120,1);
-moz-box-shadow: -1px 1px 7px 4px rgba(70,117,120,1);
box-shadow: -1px 1px 7px 4px rgba(70,117,120,1);
}