#row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid black;
}

#search-nav {
    margin: 1%;
}

#rowHeader {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid black;
    background-color: rgb(193, 235, 6);
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: rgb(155, 172, 173);
}
